.fa-edit{
    color:black;
}
.fa-trash-o{
    color: red;
}
.fa-ambulance{
    color: blue;
}

/* แก้ css ของ popup */
:host >>> .popover-title {
    background-color: #009688;
    border: 1px solid  #009688;
  }
  :host >>> .popover {
    border: 1px solid #009688;
    color: #fff;
  }
  :host >>> .popover>.arrow:after {
    border-top-color: #009688;
  }