<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img
      class="app-sidebar__user-avatar"
      src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user2-160x160.jpg"
      alt="User Image"
      width="50"
    />
    <div>
      <p class="app-sidebar__user-name">{{Member.firstname || 'TEST'}}</p>
      <p class="app-sidebar__user-designation">{{Member.premission || 'TEST'}}</p>
    </div>
  </div>
  <!-- Menu ด้านช้าย -->
  <ul class="app-menu">
    <li>
      <a class="app-menu__item" [routerLink]="['/',AppURL.Authen, AuthURL.Dashboard]" routerLinkActive="active">
        <i class="app-menu__icon fa fa-dashboard"></i>
        <span class="app-menu__label">Dashboard</span>
      </a>
    </li>
<!-- ส่งซ่อม -->

    <li>
      <a class="app-menu__item" [routerLink]="['/',AppURL.Sendjob]" routerLinkActive="router-link-active"  routerLinkActive="active"
        ><i class="app-menu__icon fa fa-cogs"></i
        ><span class="app-menu__label">แจ้งซ่อม</span></a
      >
    </li>


    <li class="treeview">
      <a class="app-menu__item" href="#" data-toggle="treeview"
        ><i class="app-menu__icon fa fa-th-list"></i
        ><span class="app-menu__label">ทะเบียนคอมพิวเตอร์</span
        ><i class="treeview-indicator fa fa-angle-right"></i
      ></a>
      <ul class="treeview-menu">
        <li>
          <a class="treeview-item" href="table-basic.html"
            ><i class="icon fa fa-circle-o"></i> สถานะ/ส่งซ่อม</a
          >
        </li>
        <li>
          <a class="treeview-item" href="table-data-table.html"
            ><i class="icon fa fa-circle-o"></i> รายงาน</a
          >
        </li>
      </ul>
    </li>

    <li class="treeview" routerLinkActive="is-expanded" >
      <a class="app-menu__item" href="#" data-toggle="treeview" routerLinkActive="active">
        <i class="app-menu__icon fa fa-address-card-o"></i>
        <span class="app-menu__label">บันทึกสำรวจ</span>
        <i class="treeview-indicator fa fa-angle-right"></i>
      </a>
      <ul class="treeview-menu" *ngIf="Member.premission != this.Roles['1']">
        <li >
          <a class="treeview-item"  [routerLink]="['/', AppURL.Authen, AuthURL.Computersupply]" routerLinkActive="active" >
            <i class="icon fa fa-desktop"></i> ลงทะเบียนทรัพสิน</a>
        </li>
        <li >
          <a class="treeview-item"  [routerLink]="['/', AppURL.Authen, AuthURL.Itassets]" routerLinkActive="active" >
            <i class="icon fa fa-desktop"></i> รายการทรัพสิน</a>
        </li>
      </ul>
    </li>
    
   
  </ul>
</aside>
